{% extends "home/base.html" %}

{% block content %}


<!-- Contenido -->
<div class="container mt-4 px-3 ">
    <div class="row">
        <!-- contendor de la foto -->
        <div class="col-sm-12 col-md-4">
            <div style="text-align: center;">
                <img src="/images/Doraemon.jpg" class="img-fluid">
            </div>
            <div class="row text-center py-2">
                <h1 class="tipoLetra">Hi, i am Ricardo</h1>
            </div>
        </div>

        <!-- contendor de la informacion personal -->
        <div class="col-sm-12 col-md-8 ">
            <h4 style="text-align: center" class="text-dark tipoLetra">skills</h4>
            <div class="container m-3 text-center d-flex flex-wrap justify-content-center">
                <span style="background-color: rgb(167, 229, 244);"
                    class="border border-2 rounded-pill m-2 p-2 tipoLetra2">
                    PostgreSQL
                </span>
                <span style="background-color: rgb(225, 241, 182);"
                    class="border border-2 rounded-pill m-2 p-2 tipoLetra2 ">
                    mySQL
                </span>
                <span style="background-color: rgb(184, 243, 175);"
                    class="border border-2 rounded-pill m-2 p-2 tipoLetra2">
                    Python
                </span>
                <span style="background-color: rgb(239, 179, 236);"
                    class="border border-2 rounded-pill m-2 p-2 tipoLetra2">
                    Django,
                </span>
                <span style="background-color: rgb(252, 219, 170);"
                    class="border border-2 rounded-pill m-2 p-2 tipoLetra2">
                    docker
                </span>
                <span style="background-color: rgb(202, 244, 167);"
                    class="border border-2 rounded-pill m-2 p-2 tipoLetra2">
                    Bootstrap,
                </span>
            </div>
            <!-- hubicacion -->

            <h4 style="text-align: center" class="text-dark tipoLetra mt-5">Current location:</h4>
            <div class="container  text-center d-flex flex-wrap justify-content-center tipoLetra2">
                <span>Japan, hokkaido, sapporo</span>
            </div>

            <!-- correo -->
            <h4 style="text-align: center" class="text-dark tipoLetra mt-5">Email:</h4>
            <div class="container  text-center tipoLetra2">
                <span class="d-block mb-2">ricardoantoniogomezvillalobos@gmail.com</span>

                <span class="d-block mb-2">ricardoantoniogomezvillalobos@outlook.jp</span>
            </div>

            <!-- Social networks -->

            <h4 style="text-align: center" class="text-dark tipoLetra mt-5">social networks</h4>
            <div class="container  text-center d-flex flex-wrap justify-content-center tipoLetra2">




                <a href="https://www.facebook.com/antonio.villalobos.3705/" target="_blank">
                    <img src="images/facebook.png" width="30px" class="mx-3">
                </a>

                <a href="https://www.instagram.com/ricardogomez902/?hl=en" target="_blank">
                    <img src="images/instagram.svg" width="30px" class="mx-3">
                </a>

                <a href="https://www.instagram.com/ricardogomez902/?hl=en" target="_blank">
                    <img src="images/linkedin.svg" width="30px" class="mx-3">
                </a>

                <a href="https://github.com/bardack134" target="_blank">
                    <img src="images/github.svg" width="30px" class="mx-3">
                </a>

            </div>




        </div>
    </div>
</div>





{% endblock %}