.fondo{
    background-image: url("../img/paisaje.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.tipoLetra {
    font-family: 'Kaushan Script', 'Playpen Sans', cursive;
}
